@tailwind base;
@tailwind components;

:root{
  @apply font-noto text-sm bg-darkblue
}


button{
  outline: none;
}

.button-grad{
background: linear-gradient(112.92deg, #5404FF 18.35%, rgba(189, 59, 210, 0.94) 71.49%);
border-radius: 100px;
}
.cont{
  @apply px-4 md:px-4 lg:px-5
}
.white-line{
  @apply absolute h-full w-1 bg-white -left-2
}
.love-gradient{
  @apply text-transparent text-8xl bg-clip-text bg-gradient-to-br from-myblue to-mypink
}
.red-grad{
  background: radial-gradient(at right,#BF3579, #601aa2);
  /* background:#BF3579 ;
  opacity:0.; */
  filter:blur(15px)
}
.drop{
  filter: blur(50px)
}
.drop2{
  filter: blur(80px)
}

.get-started-btn{
  background: linear-gradient(112.92deg, #5404FF 18.35%, rgba(189, 59, 210, 0.94) 71.49%);
  border-radius: 100px;
  height: 3em;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;  
  text-align: center;
  

}
.input{
  @apply outline-none placeholder-white/80 my-4 border-solid block w-full bg-transparent border-[0.5px] h-10 rounded-lg border-gray-500/50 px-4 py-4
}
.word-wrapping{
  word-wrap: break-word
}
.blur2{
  filter: blur(160px)
}
@tailwind utilities;
